body
{
  font-family:verdana, helvetica, arial, sans-serif;
  font-size:16px;
  background-color:#fff;
  color:#333;
  margin:10px 20px;
}

h1
{
  
}

h2
{
  font-size:24px;
  font-weight:400;
  margin:0 0 10px;
}

h3
{
  font-size:20px;
  font-weight:400;
  margin:5px 0;
}

#rounded5-border2-padding,#categories,#cattoc li.selected,.invisiblebox,.box,.linkbox,.rounded5-border2-padding
{
  -moz-border-radius:5px;
  -khtml-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border-style:solid;
  border-width:2px;
  padding:5px 10px;
}

#no-bottom-rounding,#cattoc li.selected
{
  -moz-border-radius-bottomright:0;
  -moz-border-radius-bottomleft:0;
  -webkit-border-bottom-right-radius:0;
  -webkit-border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

#white-background,body,#cattoc li,.linkbox,.white-background
{
  background:#fff;
}

#pale-grey-background,.lighttext,#cattoc li.selected,#categories,.invisiblebox,.box,.pale-grey-background
{
  background:#f7f7f7;
}

#light-grey-background,.light-grey-background
{
  background:#ddd;
}

#light-grey-border,#categories,#cattoc li.selected,.light-grey-border,.box,.linkbox,.invisiblebox
{
  border-color:#ddd;
}





a img
{
  border:none;
}

div.logo
{
  background-image:url(munin-logo-305x80.png);
  background-repeat:no-repeat;
  width:325px;
  height:80px;
}

div.lighttext
{
  color:#777;
  font-style:italic;
}

.domain
{
  font-size:medium;
  font-weight:700;
}

.center
{
  text-align:center;
}

.small
{
  font-size:smaller;
}

.noborder
{
  border-collapse:collapse;
  border-width:0;
}

.largeinvisiblebox
{
  border-top:0;
  border-bottom:0;
  border-left:0;
  border-right:0;
  white-space:nowrap;
  max-width:90%;
  width:80%;
  border-color:#999;
  border-style:solid;
  border-width:thin;
  margin:0;
  padding:0;
}

.graphbox
{
  border-top:1px;
  border-bottom:1px;
  border-left:1px;
  border-right:1px;
  white-space:nowrap;
  width:100%;
  border-color:#999;
  border-style:solid;
  border-width:thin;
  margin:0;
  padding:4px;
}

.graphbox img,.invisiblebox img
{
  margin-right:10px;
}

td.wrap
{
  white-space:normal;
  max-width:1%;
}

.linkbox
{
  border:0;
}

.warntext
{
  font-weight:700;
  background-color:#cc0;
}

.crittext
{
  font-weight:700;
  background-color:#ff6f22;
}

.ruler
{
  background-color:#999;
  border:0;
  height:1px;
}

.ruler2
{
  background-color:#999;
  border:0;
  height:2px;
}

a.meek:visited
{
  color:#af1a00;
  font-size:small;
}

a.meek:hover
{
  color:#999;
  font-size:small;
}

#cattoc
{
  width:100%;
  clear:both;
  font-size:16px;
  margin:10px 0 0;
  padding:0;
}

#cattoc li
{
  float:left;
  color:#000;
  border-bottom:0;
  position:relative;
  white-space:nowrap;
  list-style-type:none;
  list-style-image:none;
  z-index:3;
  margin:0 0 1px;
  padding:6px 0 3px;
}

#cattoc li.selected
{
  border-bottom:none;
  cursor:default;
  padding-top:2px;
  top:3px;
}

#cattoc a,#cattoc a:active
{
  display:block;
  color:#000;
  position:relative;
  text-decoration:none;
  padding:0 .7em;
}

#cattoc li.selected a
{
  cursor:default;
  text-decoration:none;
}

#catcontrol
{
  padding-top:2em;
  clear:both;
}

#categories
{
  clear:both;
  margin:0;
}

.catsection
{
  border:none;
  margin:0;
  padding:0;
}

.catsection fieldset
{
  border:1px solid #aaa;
  float:left;
  margin-right:2em;
}

.catsection legend
{
  font-weight:700;
}

.mainlegend
{
  display:none;
}

div.catsectiontip
{
  font-size:95%;
  margin-top:0;
  background-color:#FFC1C1;
  clear:both;
  padding:.2em .7em;
}

.invisiblebox,.box
{
  margin-top:20px;
}

a.meek:link,a.meek:active
{
  color:#486aaf;
  font-size:small;
}

/** Links **/

a.warn:link,a.warn:visited,a.warn:active,a.warn:hover
{
  color:#c90;
}

a.crit:link,a.crit:visited,a.crit:active,a.crit:hover
{
  color:#c00;
}

a:link,a:visited,a:active,a:hover
{
  color:#486aaf;
}

#generated
{
  font-style:italic;
  font-size:80%;
}